*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ul{
    list-style-type: none;
}

.navbar h1{
    padding-left: 10px;
}

.navbar{
    font-weight: 550;
}


body{
    height: 100%;
    background: url(./images/contact.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: #fff;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    margin-left: 40px;
    margin-right: 20px;
}

.navbar a:hover{
    color: red;
    transition: ease-in 0.3s;
}

section{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}

section h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    text-decoration: underline;
}

.contact-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
}

.contact-info i{
    margin-right: 20px;

}

.fa-map-marker-alt{
    margin-top: 20px;
}

.fa-envelope{
    margin-top: 20px;
}

.fa-phone{
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
}

.color-overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index: -1;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 590px;
    width: 100%;
    height: 30px;
    color: white;
}

@media(max-width: 480px){
    section{
        padding: 10px;
        margin-top: -100px;
        margin-right: 100px;
    }

    .navbar ul li{
        margin-right: 10px;
        margin-left: 0px;
    }

    .contact-info{
        justify-content: center;
        white-space: nowrap;
        overflow: hidden;
        font-size: 15px;
    }

    footer{
        margin-top: 540px;
        text-align: center;
    }
}
