
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    padding-left: 3px;
    width: 100px;
}

body{
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}


ul{
    list-style-type: none;
}

.navbar{
    font-weight: 550;
}

.navbar a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    margin-left: 40px;
    margin-right: 20px;
}

.navbar a:hover{
    color: red;
    transition: ease-in 0.3s;
}

.header{
    background: url("images/shirtimg.jpg")  no-repeat center center/cover;
    color: #fff;
    font-size: 28px;
}

.header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.header p{
    font-size: 20px;
    margin-top: 20px;
    z-index: 1;
}

.header h1{
    z-index: 1;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}

section h2{
    text-align: center;
    text-decoration: underline;
    font-weight: 1000;
    font-size: 2rem;
}

.slider{
    background-position: center;
    overflow: hidden;
    width: min-content;
}

.slide{
    position:absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opactiy 0.4s ease-in-out;
}

.slide.active{
    opacity: 1;
    transition: all 0.7s ease-in-out 0s;
}

.slide:first-child{
    background: url(./images/img1.webp) no-repeat center center/contain;
}
.slide:nth-child(2){
    background: url(./images/Yellow.jpg) no-repeat center top/contain;

}
.slide:nth-child(3){
    background: url(./images/black.jpg) no-repeat center top/contain;
}

.buttons button#next {
    position: absolute;
    top: 775px;
    right: 320px;
}

.buttons button#prev {
    position: absolute;
    top: 775px;
    left: 320px;
}

.btn-container #contact{
    z-index: 1000;
    color: white;
    border: 2px solid #fff;
    border-radius: 0%;
    padding: 15px 20px;
    background: transparent;
}

.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 500px;
}

.buttons button{
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    padding: 10px 12px;
    border-radius: 50%;
}

.buttons button:hover{
    border: 1px solid red;
    color: red;
}

.buttons #contact:hover{
    transition: ease-in-out 0.5s;
    top: 1045px;
}

.section .icons{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 400px;
}

.icons a{
    margin-top: 20px;
    padding-left: 10px;
    color: #000;
}

.icons a:hover{
    color: red;
    transition: ease-in-out 0.7s;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 400px;
    width: 100%;
    height: 30px;
    color: white;
    background-color: #000;
}

.color-overlay{
    position: absolute;
    width: 100%;
    height: 400px;
    background: #000;
    opacity: 0.6;
}

@media(max-width: 780px){
    body{
        overflow-x: hidden;
    }

    .header .container{
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .section .icons{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 650px;
    }

    .buttons button#prev{
        position: absolute;
        top: 1160px;
        left: 205px;
    }

    .buttons button#next{
        position: absolute;
        top: 1160px;
        right: 195px;
    }

    .btn-container #contact{
        z-index: 1000;
        color: #000;
        font-weight: bold;
        border: 2px solid #000;
        border-radius: 0%;
        padding: 15px 20px;
        background: transparent;
    }

    .btn-container{
        display: flex;
        justify-content: center;
        margin-left: 5px;
        margin-top: -200px;
    }

    .btn-container #contact:hover{
        transition: ease-in-out 0.2s;
        border: 3px solid black;
    }


    footer{
        text-align: center;
        margin-top: 200px;
    }
    
    .color-overlay{
        top: 70px;
    }
}

@media(max-width: 480px){
    body{
        overflow-x: hidden;
    }

    .navbar ul li{
        margin-right: 10px;
        margin-left: 0px;

    }

    .header .container{
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .section .icons{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 650px;
    }

    .buttons button#prev{
        position: absolute;
        top: 1160px;
        left: 205px;
    }

    .buttons button#next{
        position: absolute;
        top: 1160px;
        right: 195px;
    }

    .btn-container #contact{
        z-index: 1000;
        color: #000;
        font-weight: bold;
        border: 2px solid #000;
        border-radius: 0%;
        padding: 15px 20px;
        background: transparent;
    }

    .btn-container{
        display: flex;
        justify-content: center;
        margin-top: -200px;
    }

    .btn-container #contact:hover{
        transition: ease-in-out 0.2s;
        border: 3px solid black;
    }


    footer{
        margin-top: 200px;
    }
    
    .color-overlay{
        top: 70px;
    }
}

